<div>
  <button type ="button" id="update_task_pos" onclick="update_task_positions();">update postions</button>
</div>

<div>
  <button type="button" id="create_task">New Task</button>
</div>

<br/>

<div id="maincontent">
  <ul id="sortable" class='to_do_items'>

    <li id="template_task" class="hidden" data-list-position="0">
      <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
      <button type="button" class="edit_task_button">Edit</button>
      <button type="button" class="delete_task_button" role="button">Delete</button>
      <span id="task_no"></span>
      <span id="description"></span>
      <span id="due"></span>
      <span id="completed"></span>
    </li>

    <% @tasks.each do |task| %>
      <li id=<%="#{task.id}"%> <%=task.list_position ? "data-list-position='#{task.list_position}'": "data-list-position='' " %>  >
        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
        <button type="button" class="edit_task_button">Edit</button>
        <button type="button" class="delete_task_button" role="button">Delete</button>
        <span id="task_no"><%= task.task_no %></span>
        <span id="description"><%= task.description %></span>
        <span id="due"><%= task.due %></span>
        <span id="completed"><%= task.completed %></span>
    </li>
    <% end %>
  </ul>

</div>

<div id="create_task_div" title="Create task">
  
  <form name="task_edit_create_form">
  
    <fieldset>
      <label for="create_task_no">Task Number</label>
      <input type="text" name="task_no" id="create_task_no" class="text ui-widget-content ui-corner-all" />
      <label for="create_description">Description</label>
      <input type="text" name="description" id="create_description" class="text ui-widget-content ui-corner-all" />
      <label for="create_due">Due</label>
      <input type="text" id="create_due" class="datepicker" /> 
      <label for="create_completed">Completed?</label>
      <input type="checkbox" id="create_completed" unchecked/>
    </fieldset>
  
  </form>

</div>


<div id="edit_task_div" title="Edit task">
  
  <form name="task_edit_form">
  
    <fieldset>
      <label for="edit_task_no">Task Number</label>
      <input type="text" name="task_no" id="edit_task_no" class="text ui-widget-content ui-corner-all" />
      <label for="edit_description">Description</label>
      <input type="text" name="description" id="edit_description" class="text ui-widget-content ui-corner-all" />
      <label for="edit_due">Due</label>
      <input type="text" id="edit_due" class="datepicker" />
      <label for="edit_completed">Completed?</label>
      <input type="checkbox" id="edit_completed" unchecked/>
    </fieldset>
  
  </form>

</div>
